.imgContainer {
    box-shadow: 20px 50px 114px 23px rgba(106,26,237,0.2);
   box-shadow: '50px white !important';
   z-index: 1000000000;
}

.imageContainer {
    box-shadow: 20px 50px 114px 23px rgba(106,26,237,0.4);
    -webkit-box-shadow: 20px 50px 114px 23px rgba(106,26,237,0.4);
    -moz-box-shadow: 20px 50px 114px 23px rgba(106,26,237,0.4);
    
}